In [1]:
#### Importing all required libraries
import requests
import pandas as pd
from bs4 import BeautifulSoup

#### Requesting the server to get the content of the web page
page = requests.get('https://www.imdb.com/chart/top/')

#### Parsing the html
soup=BeautifulSoup(page.content,'html.parser')

#### Extracting table data using class name
table  = soup.find(class_='lister-list')

#### Extracting table row elements into list
movies = table.find_all('tr')
list_movies = []
for movie in movies:
    dict_movie = {}
    movie_td = movie.find_all('td')[1].text.split('\n')
    #### Extracting 'Rank' of the movie
    dict_movie['Rank'] = int(movie_td[1].strip()[0])
    #### Extracting 'Title' of the movie
    dict_movie['Title'] = movie_td[2].strip()
    #### Extracting 'Year' of the movie
    dict_movie['Year'] = int(movie_td[3][1:-1])
    #### Extracting 'Rating' of the movie
    dict_movie['Rating'] = float(movies[0].find_all('td')[2].text[1:-1])
    list_movies.append(dict_movie)

#### Converting all the extracted elements into dataframe
data_IMDB = pd.DataFrame(list_movies) 

#### Printing top 5 rows of the data
data_IMDB.head()

   Rank                     Title  Year  Rating
0     1  The Shawshank Redemption  1994     9.2
1     2             The Godfather  1972     9.2
2     3    The Godfather: Part II  1974     9.2
3     4           The Dark Knight  2008     9.2
4     5              12 Angry Men  1957     9.2

In [2]:
#### Saving the data in to csv file
data_IMDB.to_csv('Imdb.csv')