In [1]:
#### Importing all required libraries
import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

#### Installing chrome Driver based on current version 
#### And Create a new instance of google chrome
browser = webdriver.Chrome(ChromeDriverManager().install())

#### Access google chrome and open IMDB website
browser.get('https://www.imdb.com/chart/top/')

#### Extracting table data using class name
table = browser.find_element_by_class_name('lister-list')

#### Extracting table row elements into list
movies = table.find_elements_by_tag_name('tr')
list_movies = []
for movie in movies:
    dict_movie = {}
    movie_list = movie.text.split()
    #### Extracting 'Rank' of the movie
    dict_movie['Rank'] = int(movie_list[0][0])
    #### Extracting 'Title' of the movie
    dict_movie['Title'] = ' '.join(movie_list[1:-2])
    #### Extracting 'Year' of the movie
    dict_movie['Year'] = int(movie_list[-2][1:-1])
    #### Extracting 'Rating' of the movie
    dict_movie['Rating'] = float(movie_list[-1])
    list_movies.append(dict_movie)

#### Closing chrome browser
browser.close()   

#### Converting all the extracted elements into dataframe
data_IMDB = pd.DataFrame(list_movies) 

#### Printing top 5 rows of the data
data_IMDB.head()

[WDM] - Current google-chrome version is 86.0.4240
[WDM] - Get LATEST driver version for 86.0.4240
[WDM] - Driver [C:\Users\subba\.wdm\drivers\chromedriver\win32\86.0.4240.22\chromedriver.exe] found in cache

   Rank                     Title  Year  Rating
0     1  The Shawshank Redemption  1994     9.2
1     2             The Godfather  1972     9.1
2     3    The Godfather: Part II  1974     9.0
3     4           The Dark Knight  2008     9.0
4     5              12 Angry Men  1957     8.9

In [2]:
#### Saving the data in to csv file
data_IMDB.to_csv('Imdb.csv')